.container{
    width: 100%;
    font-family: 'Medium';
}

@font-face {
    font-family:"Medium";
    src: url("../vendor/assists/font/Medium.otf");
}
@media screen and (max-width:800px) {
  .left, .main, .right {
    width:100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
.formlogin {    
    text-align: center;
}
.navbar{
    height: 56px;
}
.nav-item > a{
    font-size: 24px;
}
.form-group >label{
    font-weight:bold;
}
.createpost .col{
    margin-top: 20px;
}
.navbar-nav > .nav-item{
    margin-left: 10px;
}
.title-post{
font-weight: bold;
font-size: 24px; 
color: #28a745
}
.text-right{
    margin-bottom: 10px;
}
.readingTime{
    font-size: 12px;
    font-weight: lighter;
    margin-top: 5px;
}

footer { 
    margin-top: 50px;
    display: block;
}

.imagepost{
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100px;
    height: 105px;
    margin-right: 24px;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#toastr {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    height: 54px;
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #28a745; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toastr.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}