<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <a ui-sref="view-post({ id: posts[0].id })" class="title-post">
                        <p>{{posts[0].title}}</p>
                    </a>
                    <a>{{posts[0].user.realm}}</a>
                    <p class="readingTime">{{posts[0].date | date}}</p>
                    <p ng-model="p.content">{{shortContent(posts[0].content)}}</p>
                </div>
            </div>
            <div class="col-sm-5">
                <div ng-repeat="p in posts">
                    <div class="form-group" style=" border-bottom-style:groove">
                        <div class="row">
                            <div class="col-sm-3">
                                <image class="imagepost" src=".././vendor/assists/images/default.png"></image>
                            </div>
                            <div class="col-sm-9">
                                <a ui-sref="view-post({ id: p.id })" class="title-post">
                                    <p>{{p.title}}</p>
                                </a>
                                <a>{{p.user.realm}}</a>
                                <p class="readingTime">{{p.date | date}}</p>
                                <p ng-model="p.content">{{shortContent(p.content)}}</p>
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-outline-success" ui-sref="view-post({ id: p.id })">
                                <i class="fas fa-eye"></i>
                            </button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <a ui-sref="view-post({ id: posts[1].id })" class="title-post">
                        <p>{{posts[1].title}}</p>
                    </a>
                    <a>{{posts[1].user.realm}}</a>
                    <p class="readingTime">{{posts[1].date | date}}</p>
                    <p ng-model="p.content">{{shortContent(posts[1].content)}}</p>
                </div>
            </div>
        </div>
      
</section>