<section>
    <div class="createpost">
            <div class="col" >
                    <textarea class="title-post" type="textarea" placeholder="Title post" ng-model="post.title" style="width: 100%"></textarea>
            </div>
           <div class="col"><textarea placeholder="Content post" ng-model="post.content" style="width: 100%;height: 400px;" ></textarea></div>
           <div class="actions"></div>
            <button class="btn btn-outline-success" ng-click="submitForm()" style="position: absolute; right: 0; margin: 20px" class="btn-primary">{{action}} Post</button>
    </div>
</section>
