<section>
    <div class="container" style="margin-left:300px ">

        <div ng-repeat="p in posts">
            <div class="form-group" style="margin: 20px; border-bottom-style:groove; word-wrap: break-word; width: 500px ">
                <p class="title-post">{{p.title}}</p>
                <a>{{p.user.realm}}</a>
                <p class="readingTime">{{p.date | date}}</p>
                <p ng-model="p.content">{{shortContent(p.content)}}</p>
                <div class="text-right">
                    <button class="btn btn-outline-success" ui-sref="edit-post({ id: p.id })" >Edit</button>
                    <button class="btn btn-outline-success" a ui-sref="delete-post({ id: p.id }) " >Delete</button>
                    <button class="btn btn-outline-success" ui-sref="view-post({ id: p.id })">
                        <i class="fas fa-eye"></i>
                    </button>

                </div>
            </div>

        </div>
    </div>
</section>