<section>
    <div class="col-md-5 offset-md-4">
        <div class="card-title" style="text-align: center">
            <h3>Signup to your account</h3>
        </div>
        <div class="card card-cascade wider mb-r">
            <!--/Card image-->
            <div class="card-body">
                <form name="form" ng-submit="register()">
                    <div class="form-group">
                        <label for="Realname">Real name</label>
                        <input name="Realname" class="form-control" type="text" ng-model="user.realm" >
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email" class="form-control" type="text" ng-model="user.email">
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" class="form-control" type="text" ng-model="user.username">
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input name="password" class="form-control" type="password" ng-model="user.password">
                        <p class="hint" ng-show="form.password.$error.required && submitted">
                            Password is required</p>
                    </div>

                    <div class="actions">
                        <label></label>
                        <button class="btn btn-outline-success" style="width: 100%; height:50px">Signup</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>